* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, teal, rgb(183, 206, 206));
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d3d3d3e7;
    clip-path: circle(60% at right -35%);
    z-index: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
}

.logo {
    position: relative;
    max-width: 150px;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    color: teal;
    font-weight: 500px;
    margin-left: 30px;
    text-decoration: none;
    padding: 8px 15px;
    cursor: default;
}

#homepage {
    background-color: teal;
    color: rgb(226, 226, 226);
    border-radius: 50px;
    padding: 8px 15px;
}

#homepage:hover {
    margin-top: -5%;
}

a:hover {
    background-color: teal;
    color: rgb(223, 223, 223);
    border-radius: 50px;
    padding: 8px 15px;
}

.monitor {
    position: absolute;
    width: 39%;
    margin-top: -10.5%;
    margin-left: 10%;
    z-index: 1;
}

.screen {
    z-index: 0;
    margin-top: -8.85%;
    width: 38%;
    margin-left: 10.5%;
}

.text {
    font-family: 'Comfortaa';
    margin-left: 10%;
}

#the {
    position: absolute;
    margin-top: -65px;
    margin-left: 7px;
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: lighter;
}

#maze {
    font-family: 'Comfortaa';
    position: absolute;
    margin-top: -45px;
    font-size: 90px;
    color: rgb(28, 94, 194);
    text-shadow: 2px 2px 8px #292929;
    -webkit-text-stroke: 2px rgb(15, 78, 216);
    -webkit-text-fill-color: rgb(68, 148, 223);
}

#game {
    font-family: 'Comfortaa';
    font-size: 48px;
    margin-top: 35px;
    margin-left: 140px;
    position: absolute;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: rgba(0, 78, 78, 0.678);
    color: white;
}

#download {
    background-color: #0a0a0a;
    color: white;
    position: absolute;
    margin-top: 100px;
    margin-left: 60px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
}